<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content padding class="settings">
  <ion-list radio-group>
    <ion-list-header *ngIf="!selectCountry">Pick a country</ion-list-header>
    <ion-list-header *ngIf="selectCountry">Country selected: <p [style.direction]="selectCountry.rtl ? 'rtl' : 'ltr'" [innerText]="selectCountry.local_name"></p>
    </ion-list-header>
    <ion-item *ngFor="#country of countries" [class.active]="selectCountry === country">
      <ion-label>
        {{country.name}}
      </ion-label>
      <ion-radio [value]="country.code" (select)="select(country)">
      </ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
